@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    margin: 0;
    padding: 0;
}
header {
    height: 50px;
}
header > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
    padding: 10px 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imagens{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#imagens > img{
    width: 80px;
    cursor: pointer;
}
.caixa{
    width: 500px;
    height: 300px;
    background-color: rgb(90, 90, 90);
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.caixa > h2, #tarefas-titulo > h2 {
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 1.3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
}
.c2{
    display: none !important;
}
#adicionar-tarefa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#adicionar-tarefa > label{
    padding: 10px 0;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}
#adicionar-tarefa > input{
    width: 150px;
    height: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
}
#adicionar-tarefa > button{
    font-weight: bold;
    width: 120px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    background-color: #FFE177;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.445);
    cursor: pointer;
}
footer > address{
    text-align: center;
    margin: 10px;
}
#tarefas{
    height: auto;
}
#tarefas > p{
    font-size: 1.3em;
    background-color: #FFE177;
    margin: 10px;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
}
#tarefas-titulo > h3{
    color: white;
    padding: 5px;
    text-align: center;
}
#tarefas-botao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}
#tarefas-botao > img{
    width: 50px;
    cursor: pointer;
    padding: 10px;
}
#enviar{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: white;
    border-radius: 16px;
}
#tarefas-concluidas > p{
    font-size: 1.3em;
    background-color: #A0E5A5;
    margin: 10px;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
}
.selecionado{
    background-color: #C63E3E !important;
    border: 2px solid red !important;
    color: white !important;
}